/* about */
.about {
	padding: 120px 0 79px;
	background-color: color('about-bg');
	@media screen and (max-width: 990px) {
		padding: 50px 0;
	}
	&-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&-left {
			width: 51.3%;
			@media screen and (max-width: 990px) {
				width: 100%;
				margin-bottom: 30px;
			}
		}
		&-right {
			width: 43%;
			@media screen and (max-width: 990px) {
				width: 100%;
			}
		}
	}
}

.about-desc {
	background-color: color('about-bg');
	box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	padding: 48px 48px 18px 63px;
	text-align: justify;
	@media screen and (max-width: 990px) {
		padding: 40px 25px;
	}
	p {
		font: 400 15px/19px 'Roboto', sans-serif;
		color: color('main');
		/* height: 135px; */
		overflow: hidden;
		strong {
			font: 700 30px 'Arvo', serif;
			color: color('main');
		}
	}
}

.about-slider {
	position: relative;
	.slick-arrow {
		position: absolute;
		background-color: transparent;
		right: 0;
		font-size: 0;
		width: 27px;
		height: 17px;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 15px;
			height: 2px;
			display: block;
			background-color: color('main');
		}

	}
	.slick-prev {
		top: -2px;
		z-index: 9;
		&::before {
			top: 7px;
			left: 1px;
			transform: rotate(-45deg);
		}
		&::after {
			top: 7px;
			right: 1px;
			transform: rotate(45deg);
		}
	} 
	.slick-next {
		z-index: 9;
		top: 21px;
		&::before {
			top: 7px;
			left: 1px;
			transform: rotate(45deg);
		}
		&::after {
			top: 7px;
			right: 1px;
			transform: rotate(-45deg);
		}
	} 
	.slick-disabled {
		&::before {
			background-color: color('arrow-dis');
		}
		&::after {
			background-color: color('arrow-dis');
		}
	}
	&__slide {
		p {
			text-align: justify;
			line-height: 24px;
		}
	}

	.slick-dots {
		font-size: 0;
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translate(-50%, 0);
		li {
			width: 10px;
			height: 10px;
			margin: 0 5px; 
			background: color('main');
			display: block;
			border-radius: 6px;
			display: inline-block;
			border: 1px solid transparent;
		}
		.slick-active {
			border: 1px solid color('main');
			background-color: #fff;
		}
	}
}

.slide-title {
	font: 700 20px 'Arvo', serif;
	color: color('main');
	margin-bottom: 28px;
    display: block;
    @media screen and (max-width: 440px) {
        font-size: 18px;
    }

}
/* END: about */