/* banner */
.banner {
	min-height: 652px;
	background: url('../img/banner.jpg') no-repeat bottom center;
	background-size: cover;
	width: 100%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(211, 211, 211, 0.83);
	}
	&-content {
		position: relative;
		text-align: center;
		padding-top:  240px;
		p {
			margin-bottom: 50px;
		}
	}
}

.link-heading {
	font-size: 0;
	&>a {
		margin: 0 15px;
	}
}
/* END: banner */