/*footer*/
.site-footer {
    background-color: color('footer-bg');
    padding-top: 99px;
    &-content {
    	font-size: 0;
    	padding-bottom: 68px;
    	display: flex;
    	align-items: flex-start;
    	flex-wrap: wrap;

    	.left-side {
			display: inline-block;
   			width: 50%;
   			@media screen and (max-width: 1100px) {
				width: 100%;
				margin-bottom: 10px;
   			}
    	}
    	.right-side {
    		display: inline-block;
   			width: 50%;
   			@media screen and (max-width: 1100px) {
   				width: 100%;
   			}
    	}
    }
}
.copyright {
	background-color: color('main');
	text-align: center;
	font: 700 15px 'Arvo', serif;
	color: color('footer-bg');
	padding: 15px 0;
	a {
		text-transform: uppercase;
		color: color('footer-bg');
	}
}

.footer-nav {
	display: inline-block;
    width: 50%;
    vertical-align: top;
    @media screen and (max-width: 600px) {
		width: 290px;
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 10px;
	}
	@media screen and (max-width: 350px) {
		width: 100%;
	}
	&-list {
		&__item {

		}
		&__link {
			font: 15px 'Roboto', sans-serif;
			color: color('main');
			line-height: 28px;
			@extend %default-transition;
				&:hover {
					text-decoration: underline;
					color: #7f7f7f;
				}
		}
	}
}

.footer-blog {
	display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 14px;
    @media screen and (max-width: 1100px) {
    	padding-left: 0;
    }
    @media screen and (max-width: 600px) {
		width: 290px;
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 10px;
	}
	@media screen and (max-width: 350px) {
		width: 100%;
	}
	&-list {
		padding: 5px 0;
		&__item {
			a {
				font: 700 15px 'Roboto', sans-serif;
				color: color('main');
				@extend %default-transition;
				&:hover {
					text-decoration: underline;
					color: #7f7f7f;
				}
			}
			p {
				font: 15px 'Roboto', sans-serif;
				color: color('main');
				line-height: 19px;
				margin-bottom: 10px;
			}
		}
	}
}
.footer-newslatter {
	display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 0 0 20px;
    @media screen and (max-width: 1100px) {
    	padding-left: 0;
    }
    @media screen and (max-width: 600px) {
		width: 290px;
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 10px;
	}
	@media screen and (max-width: 350px) {
		width: 100%;
	}
    p {
    	font: 15px 'Roboto', sans-serif;
		color: color('main');
		padding: 5px 0;
    }
}
.footer-form {
	padding: 10px 0;
}
.input-holder {
	display: flex;
    justify-content: center;
	&__input {
		flex-grow: 1;
		width: 150px;
		border: none;
		font: 15px 'Roboto', sans-serif;
		color: color('main');
		padding: 10px;
		border-radius: 5px 0 0 5px;
		&.error {
			border: 1px solid red;
		}
	}
}
/*END:footer*/