/*header*/
.site-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    @extend %default-transition;
    &-content {
    	display: flex;
    	align-items: flex-start;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    padding: 20px 0;
	    position: relative;
	    @extend %default-transition;
    }
    &.is-stuck {
    	background: rgba(255, 255, 255, 0.8);
    	height: 70px;
		.site-header-content {
			padding: 10px 0;
			align-items: center;
		}

		@media screen and (max-width: 990px) {
			background: transparent;
			.logo {
				opacity: 0;
			}
		}
    }
}

.nav {
	&-list {
		display: none;
		font-size: 0;
		float: left;
		margin-right: 27px;
		@media screen and (max-width: 990px) {
			position: absolute;
		    top: 0;
		    right: 0;
		    top: 21px;
		    right: 15px;
		    background: #fff;
		}
		&__item {
			display: inline-block;
			margin: 0 6px;
			@media screen and (max-width: 990px) {
				display: block;
				margin: 0;
			}
			&.active {
				.nav-list__link {
					background-color: color('main');
					color: color('light');
				}
			}
		}
		&__link {
			color: color('main');
			font: 17px 'Roboto', sans-serif;
			font-weight: 700;
			padding: 5px 20px;
			display: block;
			border-radius: 10px;
			@extend %default-transition;
			@media screen and (max-width: 990px) {
				border-radius: 0;
			}
			&:hover {
				background-color: color('main');
				color: color('light');
				border-radius: 8px;
				@media screen and (max-width: 990px) {
					border-radius: 0;
				}
			}
		}
	}
}

.trigger {
	display: block;
	float: right;
	position: relative;
	display: block;
	width: 36px;
	height: 37px;
	cursor: pointer;
	&-line {
		display: block;
		width: 36px;
		height: 6px;
		background-color: color('main');
		border-radius: 4px;
		&::before {
			content: '';
			position: absolute;
			top: 13px;
			left: 0;
			display: block;
			background-color: color('main');
			width: 36px;
			height: 6px;
			border-radius: 4px;
		}
		&::after {
			content: '';
			position: absolute;
			top: 25px;
			left: 0;
			display: block;
			background-color: color('main');
			width: 36px;
			height: 6px;
			border-radius: 4px;			
		}
	}

	&-cursor {
		display: block;
		border-radius: 10px;
		width: 19px;
		height: 19px;
		background-color: color('main');
		top: 0;
	    left: 50%;
	    transform: translate(50%, 70%);
		&::before {
			content: '+';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font: 700 27px 'Raleway', sans-serif;
			color: color('cursor');
			@extend %default-transition;
		}
	}

	&:hover {
		.trigger-cursor {
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
		}
	}

	&.active {
		.trigger-cursor {
			box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
			&::before {
				content: '-';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
/*END:header*/

/* @media screen and (max-width: 1570px) {

} */